
<ion-tabs>
  <ion-tab-bar slot="bottom" color="danger">

    <ion-tab-button tab="tabs1">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Administradores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabs2">
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Taquilleros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabs3">
      <ion-icon name="man"></ion-icon>
      <ion-label>Turistas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
