<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Taquillero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h1>Datos del taquillero</h1>
  </ion-text>

  <div class="datos">
    <ion-list>
      <ion-item lines="full">
        <ion-label>
          <strong>Nombre:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.user.name}}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <strong>Apellido:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.user.lastname}}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <strong>N° de identificación:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.user.identification}}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <strong>Email:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.user.email}}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <strong>Rol:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.rol.rol}}</ion-note>
      </ion-item>

      <ion-item lines="full">
        <ion-label>
          <strong>Estado:</strong>
        </ion-label>
        <ion-note slot="end" color="primary">{{taqui.status}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
